.header {
  background-image: url(../images/header.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onXLDesktop {
    background-position-y: 40%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    height: 100vh;
    padding: 0 0 64px;

    @include landscape {
      padding: 0 0 24px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;

    &-image {
      width: 48px;
      height: 58px;
      margin: 0 0 16px;

      @include onTablet {
        width: 64px;
        height: 76px;
        margin: 0 0 40px;
      }

      @include landscape {
        margin: 0 0 20px;
      }
    }

    &-text {
      font-size: 32px;
      line-height: 100%;
      font-weight: 800;
      font-style: italic;
      letter-spacing: -1.5px;
      margin: 0;

      @include onTablet {
        font-size: 40px;
      }

      @include onDesktop {
        font-size: 48px;
      }
    }
  }
}
